body {
    font-family: Arial, sans-serif;
    background-color: #fdf6f0;
    margin: 0;
    padding: 0;
}


.navbar {
    background-color: #4a2c2a;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #7a4b46;
}


header, section {
    padding-top: 80px;
}


section {
    padding: 20px;
}

header, section h2 {
    text-align: center;
    color: #333;
}

h1 {
    color: #c1121f;
}

h2 {
    font-family: "Georgia", serif;
    font-style: italic;
    color: #5a3e36;
}


img {
    max-width: 100%;
    height: auto;
}
